<% if @object.is_a?(BlogPost) %>
Link al post: <a href="<%= @object.url %>"><%= @object.url %></a>
<% else %>
Link al proyecto: <a href="<%= project_url(@comment.project) %>"><%= project_url(@comment.project) %></a>
<% end %>
<br />
Nueva Retroalimentación de <%= @comment.member.user.name %>
<%= ApplicationController.helpers.simple_format(@comment.body.html_safe) %>
