<div class="row">
  <div class="container"">
    <div class="col-md-3">
      <h1>
        The <span>easy way</span> for your team to go lean.
      </h1>
      <p class="sponsor">
        Innovation Management Software for lean startups&trade; and custdev teams
      </p>
      <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
      <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
    <div class="col-md-3">
    <h1>
      The <span>easy way</span> for your team to go lean.
    </h1>
    <p class="sponsor">
      Innovation Management Software for lean startups&trade; and custdev teams
    </p>
    <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
    <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
    <div class="col-md-3">
    <h1>
      The <span>easy way</span> for your team to go lean.
    </h1>
    <p class="sponsor">
      Innovation Management Software for lean startups&trade; and custdev teams
    </p>
    <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
    <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
    <div class="col-md-3">
    <h1>
      The <span>easy way</span> for your team to go lean.
    </h1>
    <p class="sponsor">
      Innovation Management Software for lean startups&trade; and custdev teams
    </p>
    <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
    <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
    <div class="col-md-12">
    <h1>
      The <span>easy way</span> for your team to go lean.
    </h1>
    <p class="sponsor">
      Innovation Management Software for lean startups&trade; and custdev teams
    </p>
    <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
    <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
    <div class="col-md-12">
    <h1>
      The <span>easy way</span> for your team to go lean.
    </h1>
    <p class="sponsor">
      Innovation Management Software for lean startups&trade; and custdev teams
    </p>
    <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
    <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
    <div class="col-md-12">
    <h1>
      The <span>easy way</span> for your team to go lean.
    </h1>
    <p class="sponsor">
      Innovation Management Software for lean startups&trade; and custdev teams
    </p>
    <%= link_to("Sign Up Now <span>Free 30-day trial</span>".html_safe, new_user_registration_path, :class => "signup") %>
    <%= link_to("*See pricing and plans", new_user_registration_path, :class => "pricing") %>
    </div>
  </div>
</div>