<% title("Spartans Online Academy - Change Password") %>
<% body_class("login") %>

<div class="body-wrapper">
  <div class="login-header">
    <%= image_tag("v2/login-icon.gif", :alt => "") %>Change Password
  </div>
  <div class="login-body">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= f.hidden_field :reset_password_token %>
      <%= devise_error_messages! %>
      <%= f.password_field :password, :placeholder => "New password" %>
      <%= f.password_field :password_confirmation, :placeholder => "Confirm new password" %>
      <button class="btn login">Change Password</button>
    <% end %>    
  </div>
</div>
