<% body_class("landing")%>

<style type="text/css">
  body#landing .financial .question-form
  {
    width: 216px;
    border: 1px solid #EBEBEB;
    -moz-box-shadow: 0px 0px 8px #eaeaea;
    -webkit-box-shadow: 0px 0px 8px #eaeaea;
    box-shadow: 0px 0px 8px #eaeaea;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    padding: 13px;
    margin-bottom: 17px;
  }
  
  body#landing .financial .question-form p 
  {
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
  }
  
  body#landing .financial .question-form label 
  {
    display: block;
    float: left;
    width: 70px;
    font-size: 12px;
    color: black;
    line-height: 28px;
  }
  
  body#landing .financial .question-form label.big {
    width: 90px;
  }
  
  body#landing .financial .question-form input
  {
    width: 137px;
    height: 25px;
    float: right;
    border: 1px solid #E7E6E6;
    -moz-box-shadow: inset 2px 2px 2px #E7E6E6;
    -webkit-box-shadow: inset 2px 2px 2px #E7E6E6;
    box-shadow: inset 2px 2px 2px #E7E6E6;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-color: #ECECEC;
    border-right-color: #ECECEC;    
  }
  body#landing .financial .question-form textarea
  {
    width: 95%;
    height: 90px;
    padding: 3px;
    float: left;
    border: 1px solid #E7E6E6;
    -moz-box-shadow: inset 2px 2px 2px #D9D9D9;
    -webkit-box-shadow: inset 2px 2px 2px #D9D9D9;
    box-shadow: inset 2px 2px 2px #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom-color: #ECECEC;
    border-right-color: #ECECEC;
  }
</style>

<div class="sponsor-body">
  <div class="sponsor-top-body">
    <div class="wrap-inner">
      <div class="financial">
        <h2>
          <strong>GOT</strong> LEGAL QUESTIONS?
        </h2>
        <div class="left">
          <p>
            With offices in 22 cities and over 1300 lawyers, Morgan Lewis is one of the largest law firms in the world. They have agreed to answer legal questions for LeanLaunchLab users. You can also download some of their commonly used legal templates.
          </p>
          <p>
            Learn more about us on our startup and emerging growth services page. Or find out how our Financial Checkup can evaluate your accounting methods. Feel free to ask us a question. We’re here to help.
          </p>
          <!--
          <h3>
            Legal FAQ's for Startups
          </h3>
          <p>
            <strong>Question 1</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum diam id eros interdum iaculis. Maecenas est dui, condimentum fermentum feugiat sed, lobortis et lacus. Duis felis enim, euismod a dignissim non, lobortis at turpis. Donec nisl nisi, adipiscing molestie vehicula ac, ultricies vitae leo. Duis sollicitudin nisl porttitor sapien ultricies mattis.
          </p>
          <p>
            <strong>Question 2</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum diam id eros interdum iaculis. Maecenas est dui, condimentum fermentum feugiat sed, lobortis et lacus. Duis felis enim, euismod a dignissim non, lobortis at turpis. Donec nisl nisi, adipiscing molestie vehicula ac, ultricies vitae leo.
          </p>
          <p>
            <strong>Question 3</strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum diam id eros interdum iaculis. Maecenas est dui, condimentum fermentum feugiat sed, lobortis et lacus. Duis felis enim, euismod a dignissim non, lobortis at turpis. Donec nisl nisi, adipiscing molestie vehicula ac, ultricies vitae leo.
          </p>
          -->
          <h3>
            Resource Center
          </h3>
          <ul class="document">
            <li>
              <strong>Series Seed Term Sheet</strong><%= image_tag("v2/document.gif", :alt => "") %><a  target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/legal/_21581359___1__Terms_for_Private_Placement_of_Series_Seed_Preferred_Stock_-_3_3_10.DOC" title="Series Seed Term Sheet">download</a>
            </li>
            <li>
              <strong>Venture Capital Newsletter 2012</strong><%= image_tag("v2/Morgan-Lewis-Venture-Capital-News.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/legal/_68999545___1__43-Venture_Capital_News_-_January_2012.PDF" title="Venture Capital Newsletter 2012">download</a>
            </li>
          </ul><br class="spacer">
          <ul class="row">
            <li>
              <a target="_blank" href="http://www.morganlewis.com/entrepreneurresources" title="Morgan Lewis Entrepreneurship Resource Center">Morgan Lewis Entrepreneurship Resource Center</a> More information on Morgan Lewis' services for emerging businesses.
            </li>
            <li>
              <a target="_blank" href="http://www.morganlewis.com/vcpefdeskbook" title="Venture Capital & Private Equity Funds Deskbook">Venture Capital &amp; Private Equity Funds Deskbook</a> A collection of articles and presentations about VC and PE
            </li>
            <li class="last">
              <a target="_blank" href="http://bizclarity.com/" title="BizClarity">BizClarity</a> Get fund-raising advice from Steve Bowman, the "pitch doctor"
            </li>
          </ul>
        </div>
        <div class="right">
          <div class="roseryan">
            <h3>
              LeanLaunchLab Legal Sponsor
            </h3><a href="http://www.morganlewis.com/" target="_blank" title="Morgan Lewis"><%= image_tag("v2/morgon-lewis.gif", :alt => "") %></a>
          </div>
          <div class="question-form">
          </div>
        </div><br class="spacer">
      </div>
    </div>
  </div>
</div>


<% content_for(:scripts) do %>
  <script type="text/javascript">
    $(function() {
      var model = new lll.models.ResourceQuestion({
        type: "legal",
        name: <%= (user_signed_in? ? current_user.name : nil).to_json.html_safe %>,
        email: <%= (user_signed_in? ? current_user.email : nil).to_json.html_safe %>
      });
      var view = new lll.views.NewResourceQuestionView({
        label: "Ask Morgan Lewis a legal question",
        el: $(".question-form"),
        model: model
      });
      view.render();
      lll.views.track("<%= params[:id] %> sponsor", "load");      
    });
  </script>
<% end %>