<% body_class("landing")%>

<div class="sponsor-body">
  <div class="sponsor-top-body">
    <div class="wrap-inner">
      <div class="financial">
        <h2>
          <strong>GOT</strong> FINANCE QUESTIONS?
        </h2>
        <div>
          <div class="roseryan">
            <h3>
              LeanLaunchLab Finance Sponsor
            </h3><a href="http://www.roseryan.com" target="_blank" title="Rose Ryan"><%= image_tag("v2/roseryan-logo.gif", :alt => "") %></a>
          </div>
          <h3>
            Go ahead – ask us anything about finance and accounting and weʼll give it to you straight.
          </h3>
          <p>
            RoseRyan has helped startups grow and prosper for nearly 20 years. Our senior finance pros will help you reach milestones and nail financial objectives. We can be your CFO or the accounting team behind your CFO. Whatever stage you are in, the RoseRyan dream team can help whip you into financial shape for your next step. Its important for young companies to set up their accounting and finance infrastructure right – essentials like <strong>payroll</strong>, the <strong>basic accounting structure, processing invoices, stock option administration, cash management, and financial reporting</strong> need attention from an expert. Your CFO can help with <strong>HR operations</strong> and <strong>benefits</strong> as well. Feel free to ask us a question from the experts. We're here to help.
          </p>
          <div class="question-form">
          </div>
          <div class="common-question">
            <h3>
              Common Questions
            </h3>
            <p>
              1. Do I need to hire a book-keeper to manage my expenses?
            </p>
            <p>
              2. What's the best software accounting platform?
            </p>
            <p>
              3. At what stage do I need to hire a part-time CFO?
            </p>
            <p>
              4. How do I setup payroll for my startup?
            </p>
            <p>
              5. How do I process invoices and send payments?
            </p>
          </div><br class="spacer">
          <h3>
            Resource Center
          </h3>
          <ul class="document">
            <li>
              <span><strong>Blueprint for Growth</strong>How to build a smart finance infrastructure</span><%= image_tag("v2/fin-doc.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/BlueprintForGrowth.Building_a_Smart_Infrastructure.pdf" title="How to build a smart finance infrastructure">download</a>
            </li>
            <li>
              <span><strong>Debt is good (sometimes)</strong>How to tell when borrowing is a smart way to grow</span><%= image_tag("v2/fin-doc2.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/RoseRyanReport_DebtIsGood.Sometimes_021711.pdf"title="Debt is good (sometimes)">download</a>
            </li>
            <li>
              <span><strong>Make a match made in heaven</strong>Things to think about before an acquisition</span><%= image_tag("v2/fin-doc3.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/RoseRyanReport_MakeAMatchMadeInHeaven.pdf" title="Make a match made in heaven">download</a>
            </li>
            <li>
              <span><strong>Scalable Finance Architecture</strong>The finance infrastructure you need for every stage</span><%= image_tag("v2/fin-doc4.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/RoseRyan_ScalableFinanceArchitecture.pdf" title="Scalable Finance Architecture">download</a>
            </li>
          </ul><br class="spacer">
          <ul class="row">
            <li>
              <a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/FinancialCheckupFactSheet.RoseRyan.pdf" title="Financial Check-up Fact Sheet">Financial Check-up Fact Sheet</a> RoseRyan's most popular product for startups
            </li>
            <li>
              <a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/RoseRyan_IPO_in_your_Future.pdf" title="IPO in your future?">IPO in your future?</a> How to prep your company for an IPO
            </li>
            <li class="last">
              <a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/finance/Debt_Demystified_RoseRyanReport.pdf" title="Debt Demystified">Debt Demystified</a> Choosing the best loan to fuel growth
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:scripts) do %>
  <script type="text/javascript">
    $(function() {
      var model = new lll.models.ResourceQuestion({
        type: "finance",
        name: <%= (user_signed_in? ? current_user.name : nil).to_json.html_safe %>,
        email: <%= (user_signed_in? ? current_user.email : nil).to_json.html_safe %>
      });
      var view = new lll.views.NewResourceQuestionView({
        label: "Get free finance advice from a RoseRyan CFO",
        el: $(".question-form"),
        compact: true,
        model: model
      });
      view.render();
      lll.views.track("<%= params[:id] %> sponsor", "load");      
    });
  </script>
<% end %>