<% body_class("landing")%>

<div class="sponsor-body">
  <div class="sponsor-top-body">
    <div class="wrap-inner">
      <div class="legal-advice">
        <div class="left">
          <h2>
            <strong>NEED</strong> BANKING ADVICE?
          </h2>
          <p>
            Silicon Valley Bank is the premier commercial bank for companies in the technology, life science, cleantech, venture capital, private equity and premium wine industries. SVB provides a comprehensive suite of financing solutions, treasury management, corporate investment and international banking services to its clients worldwide.
          </p>
          <p>
            <a href="#" class="ask"><%= image_tag("v2/ask-question.png", :alt => "") %></a>
          </p>
        </div>
        <div class="right">
          <div class="morgon">
            <h3>
              LeanLaunchLab Banking Sponsor
            </h3><a target="_blank" href="http://www.svb.com" title="Silicon Valley Bank"><%= image_tag("v2/SVB-logo.jpeg", :alt => "") %></a>
          </div>
        </div><br class="spacer">
        <div class="round-body">
          <h3>
            <%= image_tag("v2/legal-faq-icon.gif", :alt => "") %>Common Banking Mistakes Entrepreneurs Make
          </h3>
          <p>
            <strong>Mistake #1: CEOs control creates single point of failure</strong> Trying to independently manage the banking and cash management decisions frequently leads to delays in processing requests and decision making. When a CEO has to transact and take responsibility for everything, they quickly get overwhelmed and become a bottleneck as the company scales (i.e. they should be and are focused on everything not just the banking). Including a co-founder or other management team member to help with banking and administration is key.
          </p>
          <p>
            <strong>Mistake #2: Not understanding when to engage with an interim CFO/accounting firm</strong> An interim CFO/accounting firm can set up AP/AR, manage bookkeeping, handle payroll and HR functions, advise strategically, and manage daily banking tasks so CEOs/founders can focus on product development, launch, strategy, fund raising efforts.
          </p>
          <p>
            <strong>Mistake #3: Determining the appropriate capital structure for the company</strong> Understanding what value debt financing can bring to the company while also not over leveraging the company, finding a balance between equity and debt.
          </p>
        </div>
        <div class="round-body">
          <h3>
            <%= image_tag("v2/common-legal-icon.gif", :alt => "") %>Resource Center
          </h3>
          <ul>
            <li>
              <strong>Startup Outlook 2011</strong><%= image_tag("v2/startup-outlook.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/banking/Startup_Outlook_2011.pdf" title="Startup Outlook 2011">download</a>
            </li>
            <li>
              <strong>Q3 Trends Report</strong><%= image_tag("v2/quarterly-trends.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/banking/Trendsreport_0112_1_.pdf" title="Q3 Trends Report">download</a>
            </li>
            <li>
              <strong>Services Overview</strong><%= image_tag("v2/services-overview.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/banking/Accelerator_One_page_Overview-1c_0711__2_.pdf" title="Services Overview">download</a>
            </li>
            <li>
              <strong>Startup Guide</strong><%= image_tag("v2/startup-guide.jpg", :alt => "") %><a target="_blank" href="https://s3.amazonaws.com/leanlaunchlab/resources/banking/Sowing_the_seeds_article_NL_0312_1e.pdf" title="Startup Guide">download</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:scripts) do %>
  <script type="text/javascript">
    $(function() {
      var model = new lll.models.ResourceQuestion({
        type: "banking",
        name: <%= (user_signed_in? ? current_user.name : nil).to_json.html_safe %>,
        email: <%= (user_signed_in? ? current_user.email : nil).to_json.html_safe %>
      });
      var view = new lll.views.NewResourceQuestionDialogView({
        label: "Ask Silicon Valley Bank a Question",
        model: model
      });
      $("a.ask").click(function() {
        view.render();
        return false;
      });
      lll.views.track("<%= params[:id] %> sponsor", "load");      
    });
  </script>
<% end %>