<section class="container-fluid text-center" id="section6">
  <h3>CREA TU CUENTA</h3>
  <br>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <p>
          <%= f.text_field :name, :class => "form-control", :placeholder => "Nombre" %>
        </p>
        <p>
          <%= f.text_field :email, :class => "form-control", :placeholder => "Correo Electrónico" %>
        </p>
        <p>
          <%= f.password_field :password, :autocomplete => "off", :class => "form-control", :placeholder => "Contraseña" %>
        </p>
        <p>
          <%= f.password_field :password_confirmation, :autocomplete => "off", :class => "form-control", :placeholder => "Contraseña" %>
        </p>
        <% orgs = f.object.organizations.empty? ? [Organization.new] : f.object.organizations %>
        <%= f.fields_for(:organizations, orgs) do |of| %>
            <p>
              <%= of.text_field :name, :class => "form-control", :placeholder => "Nombre de tu organización" %><br/>
              Nombre de tu compañia, grupo, universidad, incubadora o asociación
            </p>
        <% end %>
        <p style="padding-bottom: 25px">
          <input type="submit" class="btn btn-success btn-lg btn-block" value="Crear Cuenta">
        </p>
        <br>
        <p>Al suscribirte estás aceptando los <%= link_to 'Terminos y Condiciones', terms_url, :target=>"_blank" %> y la <%= link_to 'Politica de Privacidad', privacy_url, :target=>"_blank" %>.
        </p>
    <% end %>
  </div>

</section>
<section class="container-fluid" id="section5">
  <div class="col-sm-10">
    <div class="container">
      <div class="row text-center">
        <h1>Comienza a administrar tu startup con nosotros</h1>
        <br><br>
        <div class="col-sm-4 col-xs-12">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              <h2 class="list-group-item-heading">Basico</h2>
              <h6>Para ti y tu cofounder</h6>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Hasta 2 miembros en la plataforma</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">1 Proyecto</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">1GB de almacenamiento</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Soporte básico por correo electrónico</p>
            </a>
            <a href="#" class="list-group-item">
              <button class="btn btn-primary btn-lg btn-block">$149 MXN al mes</button>
            </a>
          </div>
        </div><!--/left-->

        <div class="col-sm-4 col-xs-12">
          <div class="list-group text-center">
            <a href="#" class="list-group-item active">
              <h2 class="list-group-item-heading">Avanzado</h2>
              <h6>Equipo Startup</h6>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Hasta 10 miembros en la plataforma</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">3 Proyectos</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">5GB de almacenamiento</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Soporte preferencial por correo electrónico</p>
            </a>
            <a href="#" class="list-group-item">
              <button class="btn btn-default btn-lg btn-block">$499 MXN al mes</button>
            </a>
          </div>
        </div><!--/middle-->

        <div class="col-sm-4 col-xs-12">
          <div class="list-group text-center">
            <a href="#" class="list-group-item active">
              <h2 class="list-group-item-heading">Empresarial</h2>
              <h6>Para las empresas que buscan innovar</h6>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">miembros ilimitados en la plataforma</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Proyectos Ilimitados</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">50GB de almacenamiento</p>
            </a>
            <a href="#" class="list-group-item">
              <p class="list-group-item-text">Soporte preferencial por correo electrónico y teléfono</p>
            </a>
            <a href="#" class="list-group-item">
              <button class="btn btn-default btn-lg btn-block">Contáctanos</button>
            </a>
          </div>
        </div><!--/right-->

      </div><!--/row-->
    </div><!--/container-->
  </div>
</section>

