<!DOCTYPE html>
<%= render(:partial => "/layouts/analytics") %>
<html id="<%= content_for?(:body_class) ? yield(:body_class) : nil %>" lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= h(content_for?(:title) ? yield(:title) : "Spartans Online Academy") %></title>
    <%= csrf_meta_tag %>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <%= stylesheet_link_tag :v2 %>
    <%= yield(:styles) %>

    <link rel="shortcut icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
    <%= yield(:script_head) %>
  </head>

  <body id="<%= content_for?(:body_class) ? yield(:body_class) : "body" %>">
  <%= render(:partial => "/layouts/header") %>

    <div id="wrapper" class="container-fluid">
      <div id="main">
        <%= yield %>
      </div>
    </div>
    
    <script type="text/javascript">
      window.environment = "<%= Rails.env %>";
    </script>
    <%= include_gon(:camel_case => true, :namespace => 'lllData') %>
    <%= javascript_include_tag :v2 %>
    <%= yield(:scripts) %>
    
    <% unless flash.empty? %>
      <script type="text/javascript">
        $(function() {
          $("#alert").livequery(function() {  
            setTimeout(function() {        
              <% unless flash[:error].blank? %>
                lll.views.error("<%= flash[:error].html_safe %>");
              <% end %>
              <% unless flash[:alert].blank? %>
                lll.views.warn("<%= flash[:alert].html_safe %>");
              <% end %>
              <% unless flash[:notice].blank? %>
                lll.views.info("<%= flash[:notice].html_safe %>");
              <% end %>
            }, 500);
          });
        });    
      </script>
    <% end %>
    
    <% if ["production", "staging"].include?(Rails.env) %>
    <% end %>
  </body>
</html>