<!DOCTYPE html>
<%= render(:partial => "/layouts/analytics") %>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Spartans Online Academy | Entrénate de manera intensiva y profesional en emprendimiento.</title>
    <meta name="description" content="Spartans Online Academy: Entrénate de manera intensiva y profesional en emprendimiento.">
    <meta name="keywords" content="Spartans Online Academy: Entrénate de manera intensiva y profesional en emprendimiento.">
    <meta name="tracking_code" content="<%= tracking_code %>">
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Le styles -->
    <%= stylesheet_link_tag "v2", :media => "all" %>

    <%= yield(:script_head) %>
    <style type="text/css">
      html {
        overflow-y: scroll;
      }
    </style>
  </head>
  <body id="landing">
    <div id="wrapper">
      <div id="header" data-active="<%= header_active %>"></div>

      <%= yield(:layout) %>

      <footer class="footer">
        <div class="container text-center">
          <p class="text-muted"><%= copyright.html_safe %></p>
          <p><small>
            The Canvas is adapted from <%= link_to("businessmodelgeneration.com", "http://businessmodelgeneration.com", :target => "_blank") %> and is licensed under the Creative Commons Attribution-Share Alike 3.0 Unported License.
          </small></p>
          <p>
              <%= link_to("Terms", terms_path, :target => "_blank") %> |
              <%= link_to("Privacy", privacy_path, :target => "_blank") %>
          </p>
        </div>
      </footer>

    </div>
    <div id="fb-root"></div>
    <%= include_gon(:camel_case => true, :namespace => 'lllData') %>
    <%= javascript_include_tag :v2 %>
    <%= yield(:scripts) %>
    <script type="text/javascript">
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=159637014149720";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      $(function() {
        $(".topbar").dropdown();

        $(".sponsor-body a[target='_blank']").click(function() {
          lll.views.track("<%= params[:id] %> resource", "load", $(this).attr("data-original-title"));
        });
      });
    </script>
  </body>
</html>